<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT | Lee Chang-Hee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header></header>

    <nav>
        <ul>
            <li class="menu__button"><a href="/">ABOUT</a></li>
            <li class="menu__button"><a href="/work">WORK</a></li>
            <li class="menu__button"><a href="/project">PROJECT</a></li>
            <li class="menu__button"><a href="/note">NOTE</a></li>
        </ul>
    </nav>

    <main>
        <h1>ABOUT</h1>
        <section>
            <img id="profile" src="/imgs/profile.jpg" alt="">
            <h1>Lee Chang-Hee</h1>
            <h>All-round Software Developer</h>

            <h4>Career</h4>
            <p>7 years</p>

            <h4>City</h4>
            <p>Seoul, Republic of Korea</p>

            <h4>Age</h4>
            <p>33</p>

            <h4>Contact</h4>
            <p><span class="about__link"><a href="mailto:ctrl0703@naver.com">ctrl0703@naver.com</a></span></p>

            <h4>Ability</h4>
            <ul class="about__list">
            	<li>Java</li>
            	<li>Spring</li>
            	<li>SQL</li>
            	<li>Linux</li>
            	<li>HTML</li>
            	<li>CSS</li>
            	<li>JavaScript</li>
            </ul>
            
            <h4>Github</h4>
            <span class="about__link"><a href="https://github.com/ctrl0703" target="_blank">https://github.com/ctrl0703</a></span>

            <h4>Certificate</h4>
            <ul class="about__list">
            	<li>HRDK Engineer Information Processing</li>
            	<li>Kdata SQL Developer</li>
            </ul>
        </section>
    </main>

    <footer>
        <div>
            2021 Lee Chang-Hee
        </div>
    </footer>
</body>

</html>