<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORK | Lee Chang-Hee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header></header>

    <nav>
        <ul>
            <li class="menu__button"><a href="/">ABOUT</a></li>
            <li class="menu__button"><a href="/work">WORK</a></li>
            <li class="menu__button"><a href="/project">PROJECT</a></li>
            <li class="menu__button"><a href="/note">NOTE</a></li>
        </ul>
    </nav>

    <main>
        <h1>WORK</h1>
        <section>
            <div class="work">
                <h4>전사 기준 정보 변경  Project PMS 툴 개발</h4>
                <ul>
                    <li>기간 : 2014.09 ~ 2014.12</li>
                    <li>기술 : spring framework, ibatis, oracle</li>
                    <li>역할 : 개발자</li>
                    <li>업무 : 화면 개발, 테스트 관리</li>
                </ul>
            </div>

            <div class="work">
                <h4>전사 기준 정보 변경  Project SAP-legacy I/F 변경 개발</h4>
                <ul>
                    <li>기간 : 2015.01 ~ 2015.11</li>
                    <li>환경 : java, oracle, mi-platform</li>
                    <li>역할 : 개발자</li>
                    <li>업무 : legacy 시스템 업무 분석, 기준 정보 변경 개발, 통합 테스트</li>
                </ul>
            </div>

            <div class="work">
                <h4>IT 서비스 운영 Project POS/매장 관리 시스템 유지보수</h4>
                <ul>
                    <li>기간 : 2015.11 ~ 2018.02</li>
                    <li>환경 : java, oracle, delphi, ms-sql server</li>
                    <li>역할 : 시스템 운영자</li>
                    <li>업무 : 시스템 관련 문의 처리, 오류 수정, 신규 기능 테스트, 쿼리 튜닝</li>
                </ul>
            </div>

            <div class="work">
                <h4>모바일 POS 어플리케이션 개발 Project</h4>
                <ul>
                    <li>기간 : 2018.03 ~ 2018.08</li>
                    <li>환경 : spring framework, oracle, MiAPS</li>
                    <li>역할 : 관리자, 개발 리더</li>
                    <li>업무 : 프로젝트 관리, 백엔드 개발</li>
                </ul>
            </div>

            <div class="work">
                <h4>IT 서비스 운영 Project POS/매장 관리 시스템 설계/개발</h4>
                <ul>
                    <li>기간 : 2018.09 ~ 2021.04</li>
                    <li>환경 : java, oracle, mi-platform, C++, ms-sql server</li>
                    <li>역할 : 시스템 설계자</li>
                    <li>업무 : 기능 개발 요구사항 관리, 개발 일정 관리</li>
                </ul>
            </div>

            <div class="work">
                <h4>이커머스 쇼핑몰 Cloud Transformation 제안 PoC Project 개발</h4>
                <ul>
                    <li>기간 : 2020.01 ~ 2020.02</li>
                    <li>환경 : spring boot, postgresql, mybatis, Red Hat OpenShift</li>
                    <li>역할 : 서비스 파트 개발 리더</li>
                    <li>업무 : MSA 설계 및 서비스 파트 개발 일정 관리, 서비스 환경 구성</li>
                </ul>
            </div>

            <div class="work">
                <h4>IT 서비스 운영 Project 이커머스 쇼핑몰 시스템 설계/개발</h4>
                <ul>
                    <li>기간 : 2021.04 ~</li>
                    <li>환경 : spring framework, oracle, mybatis, AOS/IOS</li>
                    <li>역할 : 이슈 담당자, 시스템 설계자, 프로젝트 관리자</li>
                    <li>업무 : 이커머스 시스템 이슈 관리, 긴급 개발 관리, 추가 개선(ARC) 프로젝트 일정관리</li>
                </ul>
            </div>

        </section>
    </main>

    <footer>
        <div>
            2021 Lee Chang-Hee
        </div>
    </footer>
</body>

</html>